<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="keywords" content=" react training">
    <meta name="description" content=" react training ">
    <meta content="telephone=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <script type="text/javascript">
        var phoneWidth = parseInt(window.screen.width);
        var phoneScale = phoneWidth / 640;
        var ua = navigator.userAgent;
        if (/Android (\d+\.\d+)/.test(ua)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                document
                    .write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
            } else {
                document
                    .write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        } else {
            document
                .write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
    </script>
    <style type='text/css'>
        body {
            /* background: url('/images/bg.png') no-repeat center bottom fixed;
            background-size: 100%; */
            /* overflow: hidden; */
        }

        header {
            display: flex;
            justify-content: center;
            padding-top: 80px;
        }

        #root {
            /* height: 100vh; */
        }

        section {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        section h1 {
            color: #165299;
            font-size: 50px;
            padding-top: 30px;
        }

        .form {
            width: 80%;
            display: flex;
            flex-direction: column
        }

        .form .option {
            display: flex;
            flex-direction: row;
            margin-bottom: 40px;
        }

        .form .option span {
            font-size: 35px;
            flex: 1
        }

        .form .option input {
            flex: 2;
            background-color: #e5e5e5;
            border-radius: 10px;
            border-width: 0;
            font-size: 4vw;
            padding-left: 2vw;
        }

        .form .option .select {
            flex: 2;
            background-color: #e5e5e5;
            border-radius: 10px;
            border-width: 0;
            display: flex;
            font-size: 4vw;
            justify-content: center;
            padding-left: 2vw;
        }

        .form .option .select select {
            font-size: 3vw;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            border: 0;
            background: #e5e5e5;
        }

        section .btn {
            font-size: 45px;
            margin-top: 50px;
            width: 70%;
            background-color: #165299;
            color: white;
            border-radius: 5px
        }
    </style>
    <!-- The Fonts -->
    <!--<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet">-->
    <!-- The Main CSS File -->
    <!--<link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/button.css">-->
</head>

<body style="margin:0; flex:1">
    <header>
        <img src="/images/logo.png" alt="">
    </header>
    <div id="root">
        <section>
            <h1>《创造者的基因》</h1>
            <div class="form">
                <div class="option">
                    <span>公司邮箱:</span>
                    <input class="email" type="text" />
                </div>
                <div class="option">
                    <span>姓&emsp;&emsp;名:</span>
                    <input class="name" type="text" />
                </div>
                <div class="option">
                    <span>团&emsp;&emsp;队:</span>
                    <div class="select">
                        <select class="team">
                            <option value="Agela">-Agela-</option>
                            <option value="Beckman Coulter Diagnostics">-Beckman Coulter Diagnostics-</option>
                            <option value="Beckman Coulter Life Sciences">-Beckman Coulter Life Sciences-</option>
                            <option value="Cepheid">-Cepheid-</option>
                            <option value="Danaher Corporate">-Danaher Corporate-</option>
                            <option value="Dental">-Dental-</option>
                            <option value="Leica Biosystems TAS">-Leica Biosystems TAS-</option>
                            <option value="Esko">-Esko-</option>
                            <option value="Leica Biosystems">-Leica Biosystems-</option>
                            <option value="Leica Microsystems">-Leica Microsystems-</option>
                            <option value="Linx & Alltec">-Linx & Alltec-</option>
                            <option value="Molecular Devices">-Molecular Devices-</option>
                            <option value="Pall">-Pall-</option>
                            <option value="Radiometer">-Radiometer-</option>
                            <option value="Sciex">-Sciex-</option>
                            <option value="Videojet ">-Videojet -</option>
                            <option value="Water Quality">-Water Quality-</option>
                            <option value="X-Rite">-X-Rite-</option>
                        </select>
                    </div>
                </div>
                <div class="option">
                    <span>手&emsp;&emsp;机:</span>
                    <input class="phone" type="text" />
                </div>
            </div>

            <button class="btn">注册</button>
            <img class="bgbg" style="position: absolute;bottom: 0;width: 100vw; z-index: -1;" src="/images/bg.png" alt="">
        </section>
    </div>

    <!--<footer>
		<div class="wrapper">
			<span class="copyright">
				COPYRIGHT © 2018 Newegg Inc
			</span>
		</div>
	</footer>-->
</body>
<script src="/javascripts/jquery-3.0.0.min.js"></script>
<script>
    $(document).ready(function () {
        // let height = document.documentElement.clientHeight;
        // $('body')[0].style.height = `${height}px`
        $('input').focus(function () {
            $('.bgbg').css('display', 'none');
        })
        $('input').blur(function () {
            $('.bgbg').css('display', 'block');
        })
        $('.btn').click(function (e) {
            var name = $('.name')[0].value;
            var email = $('.email')[0].value;
            var team = $('.team')[0].value;
            var phone = $('.phone')[0].value;
            if (phone.length < 11) {
                alert('请输入正确格式的手机号')
            }
            else if (email.length < 1) {
                alert('请输入邮箱')
            }
            else if (name.length < 1) {
                alert('请输入姓名')
            }
            else {
                $.ajax({
                    type: 'get',
                    url: '/login',
                    data: { url: 'myAccount', name, email, team, phone },
                    dataType: 'json',
                    success: function (res) {
                        console.log('res', res)
                        if (res && res.status && res.msg) {
                            alert(res.msg)
                            if (res.status === 'success') {
                                location.href = '/home'
                            }
                        }
                    }
                });
            }
        })
    })
</script>

</html>