<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="renderer" content="webkit">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <meta name="keywords" content=" react training">
    <meta name="description" content=" react training ">
    <meta content="telephone=no" name="format-detection">
    <meta content="address=no" name="format-detection">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <script type="text/javascript">
        var phoneWidth = parseInt(window.screen.width);
        var phoneScale = phoneWidth / 640;
        var ua = navigator.userAgent;
        if (/Android (\d+\.\d+)/.test(ua)) {
            var version = parseFloat(RegExp.$1);
            if (version > 2.3) {
                document
                    .write('<meta name="viewport" content="width=640, minimum-scale = ' + phoneScale + ', maximum-scale = ' + phoneScale + ', target-densitydpi=device-dpi">');
            } else {
                document
                    .write('<meta name="viewport" content="width=640, target-densitydpi=device-dpi">');
            }
        } else {
            document
                .write('<meta name="viewport" content="width=640, user-scalable=no, target-densitydpi=device-dpi">');
        }
    </script>
    <style type='text/css'>
        body {
            /* background: url('/images/bg.png') no-repeat center bottom fixed;
            background-size: 100%; */
        }

        section {
            display: flex;
            align-items: center;
            flex-direction: column;
        }

        section h1 {
            color: #165299;
            font-size: 6vw;
            /* padding-top: 7vw; */
        }

        section .content{
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-bottom: 10px
        }

        section .content span{
            font-size: 6vw;
            color: #5ac0cd
        }

        section img{
            width: 50vw
        }

        section .btn {
            display: flex;
            justify-content: center;
            text-decoration: none;
            font-size: 6vw;
            margin-top: 7vw;
            width: 70%;
            background-color: #165299;
            color: white;
            border-radius: 5px
        }
    </style>
    <!-- The Fonts -->
    <!--<link href="http://fonts.useso.com/css?family=Oswald|Droid+Sans:400,700" rel="stylesheet">-->
    <!-- The Main CSS File -->
    <!--<link rel="stylesheet" href="/static/CSS/style.css">
    <link rel="stylesheet" href="/static/CSS/button.css">-->
</head>

<body style="margin:0; flex:1">
    <div id="root">
        <section>
            <h1>阅读之前我们先来做个小测试</h1>
            <div class="content">
                <span>你的技能是如何组合的？</span>
                <span>你的组织或团队有多创新？</span>
            </div>
            <img src="/images/chatu.png" alt="">
            <a href="/question" class="btn">开始测试</a>
            <img class="bgbg" style="position: absolute;bottom: 0;width: 100vw; z-index: -1;" src="/images/bg.png" alt="">
        </section>
    </div>

    <!--<footer>
		<div class="wrapper">
			<span class="copyright">
				COPYRIGHT © 2018 Newegg Inc
			</span>
		</div>
	</footer>-->
</body>

</html>